body {
  background-color: #ffeef5;
  font-family: 'Segoe UI', sans-serif;
}

.text-pink {
  color: #e26ea6;
}
.bg-pink {
  background-color: #ffcbe6;
}
.btn-pink {
  background-color: #ffb6d9;
  color: white;
  border: none;
}
.btn-pink:hover {
  background-color: #ff97cb;
}
.btn-outline-pink {
  color: #e26ea6;
  border-color: #e26ea6;
}
.btn-outline-pink:hover {
  background-color: #e26ea6;
  color: white;
}
