.text-primary {
  color: #0050b3 !important;
}

.btn-outline-primary {
  color: #0050b3;
  border-color: #0050b3;
}

.btn-outline-primary:hover {
  background-color: #0050b3;
  color: white;
}

.btn-primary {
  background-color: #0050b3;
  border: none;
  color: white;
}

.btn-primary:hover {
  background-color: #003d99;
}
